* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
/* background with works */
.base {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(100, 100, 100) url(window16_9.jpg);
  background-size: cover;
  background-position: center;

  overflow: hidden;
}
.top, .bottom {
  position: absolute;
  z-index: 10;
  width: 100%;

  min-height: 10%;

  background: rgb(0, 0, 0);
}
.top {
  top: 0;
  left: 0;
  height: 62%;
}
.bottom {
  bottom: 0;
  left: 0;

  height: 34%;
}

.spacer {
  position: absolute;
  top: 64%;
  z-index: 20;
  height: 1.6rem;
  width: 100%;
  margin-top: -.8rem;

  background: rgba(255, 0, 0, 0.678);
}
.slider {
  opacity: 0;
  z-index: 50;
  position: absolute;
  left: 1rem;
  top: 12%;
  height: 76%;
}