* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
/* background with works */
.base {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(100, 100, 100) url(window.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}
.top, .bottom {
  position: absolute;
  z-index: 10;
  width: 100%;

  background: rgb(0, 0, 0);
  /* transition: all .1s ease-in-out; */
}
.top {
  top: 0;
  left: 0;
  height: 64vh;
  max-height: 64vh;
}
.bottom {
  bottom: 0;
  left: 0;

  height: 32vh;
  max-height: 32vh;
}

.spacer {
  position: absolute;
  top: 64vh;
  z-index: 20;
  height: 4vh;
  width: 100vw;

  background: rgba(255, 0, 0, 0.678);
}
.slider {
  opacity: 0;
  z-index: 50;
  position: absolute;
  left: 0;
  top: 20vh;
  height: 64vh;
}
.ui-slider-handle {
  border: none;
  margin: 0;
  padding: 0;
}

/* =====================  temp settings ====================== */
.top, .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.top {
  /* border-bottom: 1px solid white; */
}
.bottom {
  /* border-top: 1px solid white; */
}
.base {
  display: flex;
  justify-content: center;
  align-items: center;
}



.works {
  position: relative;
  top: -7vh;
  left: 32vw;
  width: 36vw;

  border: 10px ridge rgb(150, 150, 150);
  border-top-color: rgb(120, 120, 120);
  border-right-color: rgb(100, 100, 100);
  
  transform: perspective(400px) rotateY( -5deg );

  box-shadow: 
              5px 0px 10px 0px rgba(0,0,0,0.75),
        inset 4px 0px 13px 3px rgba(0,0,0,0.75);
}




.work {
  /* border: 5px inset rgb(150, 150, 150); */

  height: 35vh;
  margin: 0rem;

}
.work img {
  height: 100%;
  width: auto;
}
.work:focus {
  outline: 0;
}
.smike {
  background: url(smike.jpg);
  background-position: 51% 15%;

}
.intro-cont {
  position: relative;
}
.introduction {
  position: absolute;
  height: 0;
  overflow: hidden;
}
.work:hover .introduction {
  height: 100%;
}
.top header {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.top header h1 {
  flex: 0 0 auto;
  margin-right: 2rem;
  font-size: 6rem;
  font-variant: small-caps;
}
.top header ul {
  list-style: none;
  color: rgba(255, 0, 0, 7);
}
.words {
  display: flex;
  /* opacity: 0; */
  flex: 1 1 auto;
  justify-content: flex-start;

  margin-left: 1rem;
  font-size: 6rem;
  font-variant: small-caps;
  cursor: pointer;

  user-select: none;
  
}
#name {
  /* opacity: 0; */
  user-select: none;
}
.spacer {
  animation-duration: 1s;
  animation-delay: .5s;
}

.words ul {
  position: relative;
  top: .4rem;

  font-size: 1.1rem;
  align-self: center;

  /* animation-duration: 1.5s; */
  animation-delay: 1s;
}
.bottom {
  display: flex;
  align-items: flex-start;
}
.bottom h1 {
  line-height: .9;
  flex: 0 0 auto;
  margin-right: 1rem;
  font-size: 6rem;
  font-variant: small-caps;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.ui-slider {
  border: none;
  margin: 0;
  padding: 0;
}

.contacts {
  /* z-index: 50; */
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;


  top: 22vh;
  left: 14vw;

  width: 30vw;

  /* transform: perspective(100px) rotateY( -4deg ); */

}

.email {
  background: url(email.svg);
}
.facebook {
  background: url(facebook.svg);
  width: 8vh !important;
}
.github {
  background: url(github.svg);
}

.email,
.facebook,
.github {
  /* border: 1px solid black; */
  color: rgba(255, 0, 0, 0.678);
  height: 8vh;
  width: 14vh;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
